<!DOCTYPE html>
<html>

<head>

    <title>
    </title>

  <style>

  .openTask{
    background-color: #E8762B;
  }

  .completeTask{
    background-color: #FFD6C2;
  }

  </style>

</head>

<body>

  <div class="openTask">
    <h1>To Do List Title</h1>

    <form method="POST" action="/api/todo">
      <input type="text" name="item">
      <br>
      <br>
      <button type="submit">Add</button>
    </form>

    <button>Complete</button>
    <button>Edit</button> <!--Mel- add text-->

    <form>
      <% for( let i = 0; i < todos.length; i++ ) { %>
          <%= todos[ i ].task %>
      <% } %>
      <p>To do items to display here!</p>
    </div>

    <div  class="completeTask">
      <hr><!--Mel - consider deleting -->
      <p>Completed items</p>
      <p>Completed items</p>
      <p>Completed items</p>
      <p>Completed items</p>
    </form>

    </div>

</body>
</html>
